*.gpState
*.suo
*.user
_ReSharper*/
desktop.ini
build/
bin/
obj/
TestResult.xml
*.cache
Reports/
site/
mwiki/
my*.*
*.pdb
test/
my*/
document/FitnesseRoot/ErrorLogs/
document/FitnesseRoot/RecentChanges/
document/FitnesseRoot/files/testResults/

/fitnesse/FitNesseRoot/ErrorLogs
/fitnesse/FitNesseRoot/*/*/*/*/*/*/*/*/*.zip
/fitnesse/FitNesseRoot/*/*/*/*/*/*/*/*.zip
/fitnesse/FitNesseRoot/*/*/*/*/*/*/*.zip
/fitnesse/FitNesseRoot/*/*/*/*/*/*.zip
/fitnesse/FitNesseRoot/*/*/*/*/*.zip
/fitnesse/FitNesseRoot/*/*/*/*.zip
/fitnesse/FitNesseRoot/*/*/*.zip
/fitnesse/FitNesseRoot/*/*.zip
/fitnesse/FitNesseRoot/*.zip

/fitnesse/FitNesseRoot/RecentChanges
/fitnesse/FitNesseRoot/files/testResults
/fitnesse/test_runner.log
/binary/tools/TestsGenerator/TestsGenerator.vshost.exe
/binary/tools/TestsGenerator/TestsGenerator.vshost.exe.manifest
/binary/currentBuild
/TestResults
/fitnesse/FitNesseRoot/files/testProgress
/binary/testBuild
/binary/tools/TestsGenerator/HtmlAgilityPack.xml
/binary/tempBuild
/NuGet/InstallTests/packages
/fitnesse/FitNesseRoot/FitNesse
/binary/tools/BigTestsGenerator/BigTestsGenerator.vshost.exe
/binary/tools/BigTestsGenerator/BigTestsGenerator.vshost.exe.config
/binary/tools/BigTestsGenerator/BigTestsGenerator.vshost.exe.manifest
/NuGet/push.bat
